{% extends 'base.html.twig' %}

{% block title %}Hello AdminHomepageController!{% endblock %}

{% block body %}

    <h1>AdminHomepage</h1>
    
    <a href="{{path('app_admin_stock')}}">Stock</a>
    

{% endblock %}
