{% extends 'base.html.twig' %}

{% block title %}Hello Stock!{% endblock %}

{% block body %}

    <h1>Admin Stock</h1>

    {% for product in products %}

        {% if product.stock <= 50 %}

            <div class="alert alert-danger">
                 Le stock de {{product.name}} est proche d'être vide ! il n'y a plus que {{product.stock}} exemplaire(s), il va falloir refaire du stock !
                 <a href="{{ path('app_product_show', {'id': product.id}) }}">Voir le produit</a>
            </div>  

        {# {% elseif product.stock > 50 %}

                <div class="alert alert-success">
                    Le stock de {{product.name}} est OK !
                </div> #}
        {% endif %}

    {% endfor %}
    

{% endblock %}